.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
}

.label {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 8px;
}

.input {
  outline: none;
  width: 350px;
  border-radius: 30px;
  padding-left: 10px;
  height: 30px;
  border: 2px solid #accc6d;
  color: grey;
}
