.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  list-style: none;
  width: 90vw;
}

.item {
  margin: 5px;
  position: relative;
  width: calc(25% - 10px);
  height: calc(25% 10px);
  color: white;
  background-color: grey;
  border-radius: 10px;
  box-shadow: -9px 20px 15px rgba(0, 0, 0, 0.2);
}

.list::-webkit-scrollbar {
  background-color: lightgray;
  border-radius: 10px;
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #accc6d;
}

@media screen and (max-width: 768px) {
  .list {
    flex-direction: column;
    padding: 0;
  }
  .item {
    width: calc(100% - 10px);
  }
}
